@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-main-BG);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  background-color: var(--very-dark-blue-card-BG);
  margin: 3.7rem 1.1rem;
  padding: 1.5rem;
  padding-bottom: 0.6rem;
  border-radius: 1rem;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

.heading {
  color: var(--white);
  font-size: 1.38rem;
  margin: 1rem 0;
  font-weight: bold;
}

p {
  color: var(--soft-blue);
  line-height: 1.5rem;
}

.time-eth-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.eth-container {
  display: flex;
  align-items: center;
  color: var(--cyan);
}

.eth-img {
  height: 1.1rem;
  width: 0.7rem;
  margin-right: 0.5rem;
}

.time-container {
  display: flex;
  align-items: center;
  color: var(--soft-blue);
}

.clock-img {
  height: 1.1rem;
  width: 1.1rem;
}

.time-text {
  margin-left: 0.3rem;
}
